{{ if isset .Site.Params "news" }}
{{ if .Site.Params.news.enable }}
<section class="bar background-white">
    <div class="dark-mask"></div>
    <div class="container">
      <div class="row">
            <div class="col-md-12">
              <p class="text-center">{{ .Site.Params.see_more.subtitle }}</p>
              <p class="text-center">
                <iframe src="{{ .Site.Params.see_more.title }}" width="720" height="540"  frameborder="0"></iframe>
              </p>  
             </div>

      </div>
    </div>
</section>
{{ end }}
{{ end }}
